@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.Alpha {
  text-align: center;
}

.Alpha-logo {
  height: 40vmin;
  pointer-events: none;
  padding: 10px;
}

.Alpha-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  font-weight: 900;
  color: #000000;
}

.Alpha-link {
  color: #000000;
  font-size: calc(8px + 2vmin);
  font-weight: normal;
  text-decoration: none;
  padding: 10px;
}
